<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hayday</title>

    <!-- fonts -->
    <link
        href="https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Martian+Mono:wght@300&family=Montserrat&family=Roboto+Slab&family=Roboto:wght@300;400&family=Ubuntu&display=swap"
        rel="stylesheet">


    <!-- <link rel="stylesheet" href="/views/crop.css"> -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style2.css">

   


    <!-- <p class="lorem">Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore dolores sed excepturi?</p> -->
   